/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #5721f2;
    --color-on-surface: #ffffff;
    --primary-bg-color: #0F162D;
    --secondary-card-bg-color: #272D42;
    --destop-card-rounding: 24px;
    --mobile-card-rounding: 16px;
    --icon-color-one: #373155;
    --icon-color-two: #2C3455;
    --icon-color-three: #274255;
    --icon-color-four: #3D413F;
}

