@import'../../../global-styles/style.scss';

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body{
    background-color: var(--primary-bg-color);
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 159px 16px 140px;

    @media screen and (max-width:992px) {
        padding: 247px 16px 169px;
    }

    @media screen and (max-width:575px){ 
        padding: 48px 16px 64px;
    }
}


.home-page-container {
    display: flex;
    justify-content: center;
    gap: 109px;
    color: var(--color-on-surface);

    @media screen and (max-width:992px) {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}

.home-page-container__banner {
    display: flex;
    flex-direction: column;
    max-width: 470px;
    gap: 1.5rem;


    & &__text {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;

        @media screen and (max-width: 992px) {
            max-width: 496px;
            gap: 1rem;
        }

        @media screen and (max-width:575px) {
            max-width: 100%;
        }
    }
}

.home-page-container__title {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -.002em;

    @media screen and (max-width: 575px) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}


.card-container {
    display: grid;
    grid-template: repeat(2,minmax(240px,1fr))/repeat(2,268px);
    gap: 1.998rem 1.5rem;

    &__item {
        position: relative;
        background-color: var(--secondary-card-bg-color);
        border-radius: 1.5rem;
        padding: 1.5rem 1rem;

       @media screen and (max-width: 992px) {
        padding: 1.25rem 1.063rem 1.25rem 1rem ;
       }
       @media  screen and (max-width: 575px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1.25rem;
       }

    }

    @media (max-width: 992px) {
        grid-template: repeat(2, minmax(218px, 1fr))/repeat(2,240px);
        grid-auto-rows: minmax(218px, 1fr);
        gap: 1rem
    }

    @media (max-width: 575px) {
        grid-template: repeat(2, minmax(196px, auto))/repeat(auto-fill, 100%);
        grid-auto-rows: minmax(196px, auto);
    }
}


.card-container__desc {
    margin-top: 1rem;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    opacity: 0.5;

    @media screen and (max-width:992px) {
        font-size: .875rem;
    }

    @media screen and (max-width: 575px) {
        font-size: 1rem;
    }
}

.card-container__item__icon {
    position: relative;
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%) translateY(-50%);
    }

}

.icon_bg1 {
    background-color: var( --icon-color-one);
}  
.icon_bg2 {
    background-color: var( --icon-color-two);
}  
.icon_bg3 {
    background-color: var( --icon-color-three);
}  
.icon_bg4 {
    background-color: var( --icon-color-four);
}

.home-page-container__title {
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -.002em;

    @media screen and (max-width: 575px) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.heading3 {
    font-weight: 400;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.25rem;
}