/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
 @import'../../../global-styles/style.scss';

$primary-bg-color: #0F162D;
$secondary-text-color: #FFF; 
$secondary-card-bg-color: #272D42;
$destop-card-rounding: 24px;
$icon-color-one: #373155;
$icon-color-two: #2C3455;
$icon-color-three: #274255;
$icon-color-four: #3D413F;
html {
    font-size: 16px;
    line-height: 24px;
}

#home-page {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: $primary-bg-color;
    color: $secondary-text-color;
}


.heading1{
    font-size: 3rem;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -0.2%;
}

.home-page-left-container__banner {
    margin-top: 9.9rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    margin-left: 152px;
    width: 467px;
    height: 232px;
 
}

.home-page-right-container {
    margin-left: 114px;
}

.card-container {
    margin-top: 159px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
 
    gap: 24px;
    & &__item{
        width: 16.7rem;
        height: 15rem;
        text-align: center;
        background-color: $secondary-card-bg-color;
        border-radius: $destop-card-rounding;

        &__icon {

            display: flex;
            align-items: center;
            justify-content: center;
            margin: 24px auto 16px auto ;
            width: 4rem;
            height: 4rem;
            border-radius: $destop-card-rounding;

            img {
                width: 2rem;
                height: 2rem;
            }
        }
  

    }
  
}

.icon_bg1 {
    background-color: $icon-color-one;
}
.icon_bg2 {
    background-color: $icon-color-two;
}

.icon_bg3 {
    background-color: $icon-color-three;
}
.icon_bg4 {
    background-color: $icon-color-four;
}